body{

font-family:Segoe UI;

background:linear-gradient(135deg,#5f9cff,#7b5cff);

margin:0;

padding:0;

color:white;

text-align:center;

}


.title{

margin-top:40px;

font-size:40px;

}


.card{

background:white;

color:black;

width:350px;

margin:30px auto;

padding:25px;

border-radius:12px;

box-shadow:0 15px 30px rgba(0,0,0,0.3);

}


input{

width:100%;

padding:10px;

margin:10px 0;

border-radius:6px;

border:1px solid #ccc;

}


button{

padding:10px 20px;

background:#5f9cff;

border:none;

color:white;

border-radius:6px;

cursor:pointer;

margin:5px;

}


button:hover{

background:#3d7eff;

}


.hidden{

display:none;

}


img{

max-width:100%;

margin-top:10px;

border-radius:8px;

}


#history img{

margin:10px;

width:150px;

}
